.button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid grey;
  background-color: white;
}

.button.recording {
  background-color: red;
  color: white;
  border-color: red;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}